@{
    ViewData["Title"] = "Home Page";
}


<!-- Slideshow container -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/carousel/tractor.png" alt="First Image" class="d-block w-100" >
            <div class="carousel-caption">
                <h5>Welcome to Big Farma</h5>
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/farm.png" alt="Second Image" class="d-block w-100" />
            <div class="carousel-caption text-start">
                <p>Insert your stock and enjoy your time :).</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/oranges.png" alt="Third Image" class="d-block w-100">
        </div>
    </div>

    <!-- Navigation arrows -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    </div>
<div style="background-color:#EEEEEE">
    <section class="container p-5">
    <h2 style="color: #95CF87">About Us</h2>
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam dolor ac turpis aliquet, vitae commodo justo efficitur. Suspendisse iaculis ligula id nunc efficitur tincidunt. Donec tristique est eget odio consectetur, in laoreet neque iaculis. Phasellus consectetur justo sed velit egestas feugiat. Nam sagittis, mauris nec condimentum convallis, dui mauris semper velit, id posuere elit purus id elit. Vestibulum eleifend augue nec erat venenatis, in ultrices neque dapibus. Nullam posuere dui non augue luctus, id pellentesque eros congue.</p>
<p>
    Nunc pellentesque consequat efficitur. Duis non efficitur lectus. Cras ultricies vulputate libero, vitae fermentum est viverra sit amet. Vivamus lobortis est vel augue aliquam, in egestas libero sollicitudin. Vestibulum et nisl et odio interdum eleifend sed nec quam. Mauris id luctus nisl. Quisque vel dui vestibulum, consectetur lorem nec, porta ante. Mauris ut vulputate tellus. Nunc non fringilla erat. Sed sagittis aliquet nunc, sit amet fermentum lacus lobortis sit amet. Mauris gravida arcu in elit auctor,</p>

</section>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/js/bootstrap.bundle.min.js"></script>
